body {
	font-family: "Source Sans Pro";
	background-color: #212121;
	color: #f4f4f4;
	text-align: center;
	font-size: 24px;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 36px;
	font-style: italic;
}

#content {
	margin-top: 1em;
}

.about {
	font-size: 16px;
	width: 600px;
	text-align: justify;
	margin-right: auto;
	margin-left: auto;
}

.small {
	font-size: 12px;
}